:root {
  --logo-clr: #fff;
  --logo-width: 700px;
  --form-text-clr: #000;
}

/* ----------- Modern CSS reset by Josh Comeau ------------- */
/* https://www.joshwcomeau.com/css/custom-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
}

input,
button {
  font: inherit;
  font-size: 100%;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: pretty;
}

/* ------------------- End of reset ------------------------ */

@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
    url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
}

.image-logo {
  background: no-repeat left/var(--logo-width) url("../img/leaves-background.jpg");
  width: var(--logo-width);
  color: var(--logo-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  margin-top: 200px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: norsebold, sans-serif;
  font-weight: 900;
  font-size: 120px;
}

.credits {
  align-self: center;
  margin-bottom: 20px;
}

main {
  max-width: 50%;
  /* margin-left: auto; */
}
