:root {
  --bg-clr-body: #000;
  --bg-clr-1: #e3f6f5;
  --bg-clr-2: #fff;

  --input-border-clr: #bae8e8;

  --logo-clr: #fff;
  --logo-width: 600px;
  --form-text-clr: #000;
  --form-padding-side: 50px;

  /* --focus-outline-clr: currentColor; */
  /* --focus-outline-offset: 0.1rem; */
  /* --focus-outline-style: solid; */
  /* --focus-outline-width: 2px; */
}

/* ----------- Modern CSS reset by Josh Comeau ------------- */
/* https://www.joshwcomeau.com/css/custom-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
}

input,
button {
  font: inherit;
  font-size: 100%;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: pretty;
}

/* ------------------- End of reset ------------------------ */

@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
    url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg-clr-body);
  min-height: 100vh;
}

.container {
  max-width: 80%;
  min-height: 100vh;
  background-color: var(--bg-clr-1);
  margin: 0 auto;
  display: flex;
}

.image-logo {
  flex-shrink: 0;
  background: no-repeat left/cover url("../img/leaves-background.jpg");
  width: var(--logo-width);
  color: var(--logo-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  margin-top: 200px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: norsebold, sans-serif;
  font-weight: 900;
  font-size: 120px;
}

.credits {
  align-self: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.4rem;
  font-weight: 600;
}

form .intro-section {
  padding: 150px var(--form-padding-side) 20px var(--form-padding-side);
}

form .intro-section p {
  margin-bottom: 50px;
}

.widget-section {
  background-color: var(--bg-clr-2);
  padding: 20px var(--form-padding-side) 40px var(--form-padding-side);
}

.widget-section p {
  margin-bottom: 40px;
}

.widgets {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.widget-element {
  position: relative;
}

label {
  position: absolute;
  top: -24px;
}

input {
  border: 2px solid var(--input-border-clr);
  border-radius: 3px;
}

/* https://css-tricks.com/snippets/css/form-validation-styling-on-input-focus/ */
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:focus {
  --box-clr: blue;
  outline: 1px solid var(--box-clr);
  border-color: transparent;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.submit-section {
  padding: 50px 0 0 var(--form-padding-side);
}
